.card{
    height: 610px;
    box-shadow: 10px 10px 20px rgb(204, 185, 185);
    border-radius: 10px;
    transition: 0.6s;
    padding: 10px;
}
.card img{
    height: 300px;
    width: 250px;

    padding: 10px;
}

.buy-btn{
    
    background-color: rgb(182, 98, 182);
    width: 220px;
    border: lightcoral;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}