



.header{
    background-color: rgb(173, 222, 241);
   
    width: 100%;
    padding: 20px;
    border-radius: 6px;
}
.edu-park{
  color: navy;
  margin:20px;
  border-radius: 15px; 

}
.edu-park img{
 
  height: 110px;
  width: 110px;
  border-radius: 50px;
}
.items {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(24, 22, 22);
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    
  }
  .items:hover {
    color: rgb(126, 190, 142);
  }

