.about{
    background-color: rgb(253, 253, 253);
    margin: 10px;
    
}
.team{
    padding: 10px;
    margin: 10px;
}
.team img{
    height: 300px;
    width: 250px;

    padding: 10px;
    border-radius: 20px;

}